<div class="max-w-sm w-full my-6">
  <div class="border-r border-b border-l border-gray-400  bg-white rounded-b p-4 leading-normal">
    <div class="tweet-content">
      <p class="text-gray-700 text-base"><%= render tweet.content %></p>
    </div>
    <div class="flex items-center">
      <%= avatar(tweet.user, css_class: "w-10 h-10 rounded-full mr-4") %>
      <p>
        <%= link_to tweet.username, tweet.user, class: "mt-1 text-lg leading-tight font-medium text-gray-900 hover:underline mr-2" %>
        <%= link_to tweet do %>
          <span class="text-gray-600 text-xs">
            <%= time_ago_in_words(tweet.created_at) %> ago
          </span>
        <% end %>
        <%= like_button(tweet) %>
      </p>
    </div>
  </div>
</div>
