<div class="w-full max-w-xs">
  <%= form_for(@user, html: { class: "bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" }) do |form| %>
    <% if @user.errors.any? %>
      <div class="mb-4">
        <p class="text-red-500 text-xs italic">
          <%= pluralize(@user.errors.count, "error") %> prevented your account from being created:
        </p>
        <ul>
          <% @user.errors.full_messages.each do |error_message| %>
            <li class="text-red-500 text-xs italic"><%= error_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="mb-4">
      <%= form.label :email, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.email_field :email, require: true, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>
    <div class="mb-4">
      <%= form.label :password, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.password_field :password, require: true, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>
    <div class="flex items-center justify-between">
      <%= form.submit "Sign up", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
    </div>
  <% end %>
</div>
