<div class="max-w-sm flex flex-col bg-white rounded-lg p-6">
  <div class="flex">
    <%= avatar @user, css_class: "h-16 w-16 rounded-full mx-0 mr-6" %>
    <h1 class="text-xl font-black"><%= @user.username %></h1>
    <%= follow_button @user %>
  </div>

  <div class="flex mt-6">
    <%= link_to "Followers", user_followers_path(@user) %>
  </div>
</div>

<%= render @timeline %>
