<h1 class="mb-8 text-xl font-black">Hi there!</h1>

<div class="w-full max-w-md">
  <%= tweet_form_for(TextTweet) do |form| %>
    <%= form.text_area :body, placeholder: "What‘s happening?", require: true, class: "bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 focus:outline-none focus:bg-white focus:border-purple-500 h-40" %>
  <% end %>

  <%= tweet_form_for(PhotoTweet) do |form| %>
    <%= form.file_field :image, require: true, class: "bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded inline-flex items-center" %>
  <% end %>
</div>

<%= render @tweets %>
